@if (label()) {
  <label [for]="id()" class="sr-only">{{ label() }}</label>
}
<select
  [id]="id()"
  [formControl]="controlName()"
  class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
>
  <option selected value="">{{ placeholder() }}</option>
  @for (item of items(); track item) {
    <option value="{{ item.id }}">{{ item.name }}</option>
  }
</select>
